<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
        <meta charset="UTF-8">

        <title>Document</title>
    </head>
    <script>
        $(function () {
            const id = location.href.split("/").reverse()[0];

            let commentLists = new Vue({
                el: "#comments",
                data: {
                    commentList: {}
                }
            })
            $.ajax({
                type: "GET",
                url: "/api/articles/" + id + "/comments",
                success: function (response) {
                    console.dir(response);
                    commentLists.commentList = response;
                }
            })


        })
    </script>
    <body>
        <!-- 댓글 -->
        <div id="comments">
            <div v-for="index in commentList">
                <div class="card m-2" id="comments-id">
                    <div class="card-header">
                        <span>{{index.nickname}}</span>
                        <!-- Button trigger modal -->
                        <button type="button"
                                class="btn btn-sm btn-outline-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#comment-edit-modal"
                                data-bs-id="{{id}}"
                                data-bs-nickname="{{nickname}}"
                                data-bs-body="{{body}}"
                                data-bs-article-id="{{articleId}}">수정
                        </button>
                        <!-- 댓글 삭제 버튼 -->
                        <button type="button"
                                class="btn btn-sm btn-outline-danger comment-delete-btn"
                                data-comment-id="{{id}}">삭제
                        </button>
                    </div>
                    <div class="card-body">
                        <span>{{index.body}}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="comment-edit-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">댓글 수정</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- 댓글 수정 폼-->
                        <form>
                            <!-- 닉네임 입력 -->
                            <div class="mb-3">
                                <label class="form-label">닉네임</label>
                                <input type="text" class="form-control form-control-sm" id="edit-comment-nickname">
                            </div>
                            <!-- 댓글 본문 입력 -->
                            <div class="mb-3">
                                <label class="form-label">댓글 내용</label>
                                <textarea type="text" class="form-control form-control-sm" rows="3"
                                          id="edit-comment-body"></textarea>
                            </div>
                            <!-- 히든 인풋 -->
                            <input type="hidden" id="edit-comment-id">
                            <input type="hidden" id="edit-comment-article-id">
                            <!-- 전송 버튼 -->
                            <button type="button" class="btn btn-outline-primary btn-sm" id="comment-update-btn">수정 완료
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
