{{>layouts/header}}

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tittle</th>
            <th scope="col">Content</th>
        </tr>
    </thead>
    <tbody>
        {{#articleList}}
            <tr>
                <th id="article-id">{{id}}</th>
                <td id="article-title"><a href="articles/{{id}}">{{title}}</a></td>
                <td id="article-content">{{content}}</td>
            </tr>
        {{/articleList}}
    </tbody>
</table>

<a href="/articles/new">New Article</a>
{{>layouts/footer}}

<script>
    {

    }
</script>